@inject ChatManager ChatManager
@inject SwapManager SwapManager
@inject NavigationManager NavigationManager
@rendermode InteractiveServer
@implements IAsyncDisposable

<div class="sidebar-collapsed-sidebar">
    @* <div class="navbar-container">
        <h2 class="navbar-brand">ES</h2>
    </div> *@

    <nav class="logged-nav-menu">
        <NavLink href="my-profile"><i class="bi bi-person"></i></NavLink>
        <NavLink href="students-filter"><i class="bi bi-funnel"></i></NavLink>
        <NavLink href="my-swaps">
            <span class="nav-icon-wrapper">
                <i class="bi bi-chat-dots"></i>

                @if (UnreadChatsCount > 0)
                {
                    <span class="nav-badge">@UnreadChatsCount</span>
                }
            </span>
        </NavLink>
        <NavLink href="my-incoming-swaps">
            <span class="nav-icon-wrapper">
                <i class="bi bi-arrow-left-right"></i>

                @if (SwapIncomesCount > 0)
                {
                    <span class="nav-badge">@SwapIncomesCount</span>
                }
            </span>
        </NavLink>
        <NavLink href="chat-history"><i class="bi bi-check-circle"></i></NavLink>
    </nav>
</div>

@code {
    [Parameter] public Guid CurrentStudentId { get; set; }
    public int UnreadChatsCount { get; set; }
    public int SwapIncomesCount { get; set; }
    private HubConnection hubConnection;

    protected override async Task OnInitializedAsync()
    {
        UnreadChatsCount = ChatManager.GetUnreadChatsCount(CurrentStudentId);
        SwapIncomesCount = SwapManager.GetNewSwapIncomesCount(CurrentStudentId);

        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/chatHub"))
            .WithAutomaticReconnect()
            .Build();

        hubConnection.On<Guid>("NewUnread", _ =>
        {
            UnreadChatsCount = ChatManager.GetUnreadChatsCount(CurrentStudentId);
            InvokeAsync(StateHasChanged);
        });

        hubConnection.On<Guid>("NewSwaps", _ =>
{
    SwapIncomesCount = SwapManager.GetNewSwapIncomesCount(CurrentStudentId);
    InvokeAsync(StateHasChanged);
});

        await hubConnection.StartAsync();
    }

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }
}