<div class="sidebar-collapsed-sidebar">
    @* <div class="navbar-container">
        <h2 class="navbar-brand">ES</h2>
    </div> *@

    <nav class="logged-nav-menu">
        <NavLink href="my-profile"><i class="bi bi-person"></i></NavLink>
        <NavLink href="students-filter"><i class="bi bi-funnel"></i></NavLink>
        <NavLink href="my-swaps"><i class="bi bi-chat-dots"></i></NavLink>
        <NavLink href="ai-chat"><i class="bi bi-lightning"></i></NavLink>
        <NavLink href="my-incoming-swaps"><i class="bi bi-arrow-left-right"></i></NavLink>
        <NavLink href="chat-history"><i class="bi bi-check-circle"></i></NavLink>
    </nav>
</div>
