<div class="sidebar">
    <div class="top-row navbar navbar-dark">
        <div class="navbar-container"> 
            <h2 class="navbar-brand">EduSwaps</h2>
        </div>
    </div>

    <div class="nav-menu">
        <nav>
            <div class="nav-item">
                <NavLink class="nav-link" href="register" activeClass="active">Регистрация</NavLink>
            </div>

            <div class="nav-item">
                <NavLink class="nav-link" href="login" activeClass="active">Вход</NavLink>
            </div>
        </nav>
    </div>

</div>
