@inject SwapManager SwapManager
@inject StudentManager StudentManager
@inject ChatManager ChatManager
@inject NavigationManager NavigationManager
@inject AvatarManager AvatarManager
@rendermode InteractiveServer
@using BlazorApp6.Models

<div class="swaps-sidebar">
    <h6>История на сваповете ти:</h6>

    @foreach (var i in info)
    {
        @if (i.Swap == null) continue;

        <div class="swap-chat-item" @onclick="() => OpenChat(i.Student)">
            <img src="@AvatarManager.GetAvatarUrl(i.Student.AvatarName)" alt="Avatar" class="sidebar-avatar" />
            <div class="swap-chat-info">
                <strong>@i.Student.FirstName @((!string.IsNullOrEmpty(i.Student.SecName)) ? i.Student.SecName[0].ToString() : "")</strong>

                <div class="last-message-row">
                    <span class="last-message">Завършен на @i.Swap.DateCompleted?.ToString("dd.MM.yyyy")</span>
                </div>
            </div>
        </div>
    }
</div>

@code {
    [Parameter] public Guid CurrentStudentId { get; set; }

    private List<Swap> Swaps = new();
    private List<Student> OtherStudents = new();
    private List<(Student Student, Swap Swap)> info = new();

    protected override async Task OnInitializedAsync()
    {
        var swaps = await SwapManager.FindHistorySwapsByStudentId(CurrentStudentId);
        Swaps = swaps.Where(s => s.Status == SwapStatus.Completed).OrderByDescending(s => s.DateCompleted).ToList();
        if (Swaps == null) return;

        foreach (var swap in Swaps)
        {
            Guid idToFind = (swap.Student1Id == CurrentStudentId) ? swap.Student2Id : swap.Student1Id;
            Student? other = await StudentManager.FindStudentById(idToFind);
            if (other != null && swap.Status == SwapStatus.Completed) OtherStudents.Add(other);
            info.Add((other, swap));
        }
    }

    private void OpenChat(Student student)
    {
        var swap = SwapManager.FindHistorySwapByStudentsId(student.Id, CurrentStudentId);
        if (swap != null) NavigationManager.NavigateTo($"/chat-history/{swap.Id}");
    }

    private void OpenAiChat()
    {
        NavigationManager.NavigateTo($"/ai-chat");
    }
}