@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject Microsoft.AspNetCore.Components.Authorization.AuthenticationStateProvider AuthStateProvider
@inject StudentManager StudentManager

<div class="app-layout">
@if (IsSwapsMode)
{
    <div class="swaps-header-wrapper">
        <div class="swaps-logo">
            EduSwaps
        </div>
    </div>

    @* <div class="top-row navbar navbar-dark">
        <div class="navbar-container">
            <h2 class="navbar-brand">EduSwaps</h2>
        </div>
    </div> *@

    <CollapsedSidebar />
    <SwapsSidebar CurrentStudentId="@CurrentStudentId" />
}
else
{
    <NavMenu />
}

    <main class="main-content">
        @Body
    </main>
</div>

@code {
    private bool IsSwapsMode;
    private Guid CurrentStudentId;
    private Student currentStudent;

    protected override async Task OnInitializedAsync()
    {
        var state = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = state.User;

        if (user.Identity?.IsAuthenticated ?? false)
        {
            var username = user.Identity.Name;
            currentStudent = StudentManager.FindStudent(s => s.Username == username);
            CurrentStudentId = currentStudent?.Id ?? Guid.Empty;
        }

        CheckRoute();
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object sender, LocationChangedEventArgs e)
    {
        CheckRoute();
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }


    private void CheckRoute()
    {
        // Если текущий URL содержит /my-swaps — показываем сжатый + чатовый сайдбар
        IsSwapsMode = (NavigationManager.Uri.Contains("/my-swaps") || NavigationManager.Uri.Contains("/chat") || NavigationManager.Uri.Contains("/ai-chat"));
    }
}
