<div class="sidebar">
    <div class="top-row navbar navbar-dark">
        <div class="navbar-container">
            <h2 class="navbar-brand">EduSwaps</h2>
        </div>
    </div>

    <div class="logged-nav-menu">
        <nav>
            <div class="logged-nav-item">
                <NavLink class="logged-nav-link" href="" activeClass="active">Home</NavLink>
            </div>

            <div class="logged-nav-item">
                <NavLink class="logged-nav-link" href="my-profile" activeClass="active">Мой профил</NavLink>
            </div>

            <div class="logged-nav-item">
                <NavLink class="logged-nav-link" href="students-filter" activeClass="active">Филтри</NavLink>
            </div>

            <div class="logged-nav-item">
                <NavLink class="logged-nav-link" href="my-swaps" activeClass="active">Свапове</NavLink>
            </div>
        </nav>
    </div>
</div>

