<div class="sidebar-full-sidebar">
    <div class="top-row navbar navbar-dark">
        <div class="navbar-container">
            <h2 class="navbar-brand">EduSwaps</h2>
        </div>
    </div>

    <div class="logged-nav-menu">
        <nav>
            @* <div class="logged-nav-item">
                <NavLink class="logged-nav-link" href=""><i class="bi bi-house"></i>Главна страница</NavLink>
            </div> *@

            <div class="logged-nav-item">
                <NavLink class="logged-nav-link" href="my-profile"><i class="bi bi-person"></i>Мой профил</NavLink>
            </div>

            <div class="logged-nav-item">
                <NavLink class="logged-nav-link" href="students-filter"><i class="bi bi-funnel"></i>Филтър                </NavLink>
            </div>

            <div class="logged-nav-item">
                <NavLink class="logged-nav-link" href="my-swaps"><i class="bi bi-chat-dots"></i>Текущи свапове</NavLink>
            </div>

            <div class="logged-nav-item">
                <NavLink class="logged-nav-link" href="my-incoming-swaps"><i class="bi bi-arrow-left-right"></i>Заявки за свап</NavLink>
            </div>

            <div class="logged-nav-item">
                <NavLink class="logged-nav-link" href="chat-history"><i class="bi bi-check-circle"></i>История</NavLink>
            </div>
        </nav>
    </div>
</div>