@page "/change-password" // страница за смяна на паролата (сиг нямаше смисъл да се създава тази страница)
@inject AppState AppState
@inject NavigationManager Navigation
@inject StudentManager StudentManager
@rendermode InteractiveServer

<h3>Смяна на паролата</h3>

@if (student == null)
{
    <p>Моля, влезте в профила си</p>
}
else
{
    <EditForm Model="student" OnValidSubmit="ChangeThePassword">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="mb-3">
            <label>Текуща парола: </label>
            <InputText class="form-control" @bind-Value="currentPassword" type="password"/>
        </div>

        <div class="mb-3">
            <label>Нова парола: </label>
            <InputText class="form-control" @bind-Value="newPassword" type="password"/>
        </div>

        <div class ="mb-3">
            <label>Подтвърди новата парола: </label>
            <InputText class="form-control" @bind-Value="confirmPassword" type="password"/>
        </div>

        <button class="btn btn-primary" type="submit">Запази</button>

    </EditForm>

    @if (!string.IsNullOrEmpty(message))
    {
        <div class="alert @(isSuccess ? "alert-success" : "alert-danger") mt-3">
            @message
        </div>
    }
}

@code {
    private Student? student;
    private string currentPassword;
    private string newPassword;
    private string confirmPassword;
    private string message;
    private bool isSuccess = false;
    private bool isUpdated = false;

    protected override void OnInitialized()
    {
        student = AppState.CurrentUser;
    }

    private void ChangeThePassword()
    {
        if (student == null)
        {
            message = "Няма активен потребител.";
            isSuccess = false;
            return;
        }

        if (student.Password != currentPassword)
        {
            message = "Грешна текуща парола.";
            isSuccess = false;
            return;
        }

        if (string.IsNullOrWhiteSpace(newPassword) || newPassword.Length < 6)
        {
            message = "Новата парола трябва да бъде поне 6 символа.";
            isSuccess = false;
            return;
        }

        if (newPassword != confirmPassword)
        {
            message = "Новата парола не съвпада с потвърждението.";
            isSuccess = false;
            return;
        }

        student.ChangePassword(newPassword);
        isUpdated = StudentManager.UpdateStudent(student);

        if (!isUpdated)
        {
            message = "Ученикът не е намерен.";
            isSuccess = false;
            return;
        }

        message = "Паролата е сменена успешно.";
        isSuccess = true;
        Navigation.NavigateTo("/profile");
    }
}
