@page "/" // начална страница
@inject NavigationManager Navigation
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>EduSwaps</h1>

<button class="btn-primary" @onclick="GoToLogin">Вход</button>
<button class="btn-secondary" @onclick="GoToRegister">Регистрация</button>

@code {
    public void GoToLogin()
    {
        Navigation.NavigateTo("/login");
    }
    public void GoToRegister()
    {
        Navigation.NavigateTo("/register");
    }
}