@page "/" // начална страница
@inject NavigationManager Navigation
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>EduSwaps</h1>

<button class="btn-primary" @onclick="GoToLogin">Вход</button>
<button class="btn-secondary" @onclick="GoToRegister">Регистрация</button>

@code {
    public void GoToLogin()
    {
        Navigation.NavigateTo("/login");
    }
    public void GoToRegister()
    {
        Navigation.NavigateTo("/register");
    }
}

<style>
    .btn-primary {
        margin-left: 300px;
                background-color: #007bff;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-right: 10px;
    }

    .btn-secondary {
        margin-left: 300px;
        background-color: #6c757d;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
</style>