@page "/" // начална страница
@inject NavigationManager Navigation
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<div class="main-page">
    <h1>EduSwaps</h1>

    <button class="btn-primary" @onclick="GoToLogin">Вход</button>
    <button class="btn-secondary" @onclick="GoToRegister">Регистрация</button>
</div>

@code {
    public void GoToLogin()
    {
        Navigation.NavigateTo("/login");
    }
    public void GoToRegister()
    {
        Navigation.NavigateTo("/register");
    }
}