@page "/login"
@layout GuestLayout
@inject NavigationManager Navigation
@inject StudentManager StudentManager
@rendermode InteractiveServer

<div class="login-page">
    <div class="login-card">
        <h3>Влез в профила си</h3>
        <form method="post" action="/account/login">
            <div class="login-form">
                <input id="username"
                       name="username"
                       type="text"
                       placeholder="Юзърнейм"
                       required />
            </div>

            <div class="login-form">
                <input id="password"
                       name="password"
                       type="password"
                       placeholder="Парола"
                       required />
            </div>

            <input type="hidden" name="returnUrl" value="/my-profile" />

            <button type="submit" class="btn-login">Вход</button>
        </form>

        @if (!string.IsNullOrEmpty(ErrorMessage))
        {
            <div class="alert alert-danger mt-3">
                @ErrorMessage
            </div>
        }
    </div>
</div>

@code {
    [SupplyParameterFromQuery]
    public string? ErrorMessage { get; set; }
}