/* ---------- ОБЩ ФОН ---------- */
.body {
    background-color: #F0EDE9;
    font-family: 'Inter', 'Segoe UI', sans-serif;
    color: var(--text-dark);
}

/* ---------- ФИЛТЪР ---------- */
.filter-all-container {
    display: flex;
    gap: 22px;
}

.filter-subject-container {
    display: grid;
    gap: 10px;
}

.filter-section-grade1 {
    background-color: #FAF7F3;
    width: 180px;
    border-radius: 16px;
    padding: 14px 16px;
}

.filter-section1 {
    display: flex;
    background-color: #FAF7F3;
    border-radius: 16px;
    padding: 12px 14px 4px 14px;
    gap: 6px;
}

.filter-legend {
    font-size: 22px;
    font-weight: 600;
    color: var(--text-dark);
    margin-bottom: 10px;
    margin: 0;
    white-space: nowrap;
}

.checkbox-group1 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 4px;
    margin-top: 4px;
}

.checkbox-group2 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 8px;
}

.checkbox-item {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    cursor: pointer;
    font-size: 0.9rem;
}

.text-found-students {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
    color: #757575;
}

.text-label-help {
    font-size: 16px;
    font-weight: 400;
    margin-top: 4px;
    color: var(--color-primary);
}

/* ---------- КОНТЕЙНЕР УЧЕНИКОВ ---------- */
.students-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

/* ---------- КАРТИЧКА НА УЧЕНИКА ---------- */
.student-card1 {
    flex: 0 0 calc(50% - 0.5rem);
    background-color: #FAF7F3;
    border-radius: 16px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 12px;
    box-sizing: border-box;
}

.subjects-and-label-container {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.subjects-only-container {
    margin-left: 4px;
}

/* ---------- ШАПКА УЧЕНИКА ---------- */
.student-header {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.filter-avatar {
    width: 74px;
    height: 74px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 8px;
}

.student-info {
    display: flex;
    flex-direction: column;
}

.student-name {
    font-size: 28px;
    font-weight: 500;
    color: var(--color-primary);
}

.student-grade {
    font-size: 16px;
    font-weight: 350;
    padding-top: 1px;
    color: #A0A0A0;
}

/* ---------- ПРЕДМЕТИ ---------- */
.student-subjects p {
    margin: 0.25rem 0;
    font-weight: 500;
}

.subjects-scroll {
    display: flex;
    gap: 0.4rem;
    overflow-x: auto;
}

    .subjects-scroll::-webkit-scrollbar {
        height: 6px;
    }

    .subjects-scroll::-webkit-scrollbar-thumb {
        background-color: rgba(0,0,0,0.2);
        border-radius: 3px;
    }

/* ---------- БЕЙДЖИ ---------- */
.hidden-checkbox {
    display: none;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin: 3px;
}

.circle-nonactive {
    background-color: #FFFDFB;
    color: var(--text-dark);
    font-weight: 420;
}

.circle-active {
    background-color: var(--color-secondary);
    color: var(--bg-light);
    font-weight: 428;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.badge {
    padding: 2px 5px;
    border-radius: 8px;
}

.badge-match1 {
    padding: 2px 5px;
    background-color: var(--color-secondary);
    color: var(--bg-light);
    font-weight: 420;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    margin-left: 8px;
}

.badge-nonmatch {
    padding: 2px 5px;
    background-color: #FFFDFB;
    color: var(--text-dark);
    font-weight: 400;
    margin-left: 8px;
}

.badge-filter-nonactive {
    padding: 4px 7px;
    background-color: #FFFDFB;
    color: var(--text-dark);
    font-size: 16px;
    font-weight: 420;
    margin-bottom: 6px;
    margin-left: 8px;
}

.badge-filter-active {
    padding: 4px 7px;
    background-color: var(--color-secondary);
    color: var(--bg-light);
    font-size: 16px;
    font-weight: 428;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    margin-bottom: 6px;
    margin-left: 8px;
}


/* ---------- БУТОНИ ---------- */
.sf-btn-row {
    display: flex;
    gap: 12px; /* расстояние между кнопками */
    flex-wrap: wrap; /* чтобы при маленьком экране кнопки переносились */
}

.sf-btn-row button {
    flex: 1; /*кнопки одинаковой ширины */
    min-width: 110px; /* минимальная ширина */
}

.sf-btn-row-noflex button {
    flex: none;
}



.btn-filter-primary {
    width: 190px;
    height: 42px;
    background-color: var(--color-primary);
    color: var(--text-light);
    border-radius: 10px;
    cursor: pointer;
    font-weight: 470;
    font-size: 17px;
    margin-top: 8px;
    margin-right: 10px;
    margin-bottom: 16px;
    margin-top: 16px;
}

.btn-filter-secondary {
    width: 190px;
    height: 42px;
    background-color: #FFFDFB;
    color: var(--color-primary);
    border-radius: 10px;
    cursor: pointer;
    font-weight: 470;
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 16px;
    margin-top: 16px;
}

.btn-primary {
    width: 100%;
    height: 40px;
    background-color: var(--color-primary);
    color: var(--text-light);
    border-radius: 10px;
    cursor: pointer;
    font-weight: 470;
    font-size: 16px;
    margin-top: 6px;
}

.btn-secondary {
    width: 100%;
    height: 40px;
    background-color: #FFFDFB;
    color: var(--text-dark);
    border-radius: 10px;
    cursor: pointer;
    font-weight: 470;
    font-size: 18px;
    margin-top: 6px;
}

.btn-secondary-warn {
    width: 100%;
    height: 40px;
    background-color: var(--bg-light);
    color: var(--text-dark);
    border-radius: 10px;
    cursor: pointer;
    font-weight: 470;
    font-size: 18px;
    margin-top: 6px;
}

/* ---------- КОНТЕЙНЕР ДЛЯ КНОПОК ---------- */
.student-actions {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    margin-top: auto;
}

hr {
    border: none;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
}
