/* ---------- ОБЩ ФОН ---------- */
body {
    background-color: var(--bg-light);
    font-family: 'Inter', 'Segoe UI', sans-serif;
    color: var(--text-dark);
}

/* ---------- СТРАНИЦА НА ВХОДА ---------- */
.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 165px;
/*    height: 100vh;*/
}

/* ---------- КАРТИЧКА ---------- */
.login-card {
    background-color: var(--bg-accent);
    width: 440px;
    padding: 40px 50px 60px;
    border-radius: 24px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

/* ---------- ЗАГЛАВИЕ ---------- */
.login-card h3 {
    font-size: 32px;
    margin-bottom: 30px;
    color: var(--color-primary);
    font-weight: 600;
}

/* ---------- ИНПУТ ---------- */
.login-form {
    text-align: left;
    margin-bottom: 20px;
}

/*.login-form label {
    display: block;
    margin-bottom: 6px;
    font-weight: 500;
    color: var(--color-primary);
}*/

.login-form input {
    width: 400px;
    height: 41px;
    border-radius: 12px;
    background-color: var(--bg-light);
    color: var(--text-dark);
    font-size: 1rem;
    padding-left: 12px;
}

/* ---------- БУТОН ---------- */
.btn-login {
    width: 400px;
    height: 45px;
    background-color: var(--color-primary);
    color: var(--text-light);
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-weight: 600;
    font-size: 1rem;
    margin-top: 6px;
}

/* ---------- СООБЩЕНИЯ ЗА ГРЕШКИ ---------- */
.alert {
    text-align: center;
    width: 380px;
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 0.95rem;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    margin-top: 15px;
}

/* ---------- АДАПТИВ ---------- */
@media (max-width: 480px) {
    .login-card {
        width: 90%;
        padding: 30px 25px;
    }
    .login-form input,
    .btn-login,
    .alert {
        width: 90%;
    }
}