body {
    background-color: var(--bg-accent);
}

/* ---------- ПРОФИЛНА ---------- */
.profile-avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 8px;
}

.text-username {
    font-size: 32px;
    font-weight: 500;
    color: var(--color-primary);
}

.text-grade {
    font-size: 16px;
    font-weight: 350;
    padding-top: 1px;
    color: #A0A0A0;
}

/* ---------- КОНТЕЙНЕРИ ---------- */
.profile-container-stats {
    flex: 0 0 calc(50% - 0.5rem);
    background-color: var(--bg-light);
    border-radius: 16px;
    padding: 20px;
    padding-top: 54px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    box-sizing: border-box;
}

.profile-container-persinfo {
    flex: 0 0 calc(50% - 0.5rem);
    background-color: var(--bg-light);
    border-radius: 16px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    box-sizing: border-box;
}

/* ---------- БЕЙДЖИ ---------- */
.badge-match {
    padding: 2px 5px;
    border-radius: 8px;
    background-color: var(--color-secondary);
    color: var(--bg-light);
    font-weight: 420;
}