/* ---------- ОБЩ ФОН ---------- */
/*body {
    background-color: #FFFDFB;
    font-family: 'Inter', 'Segoe UI', sans-serif;
    color: var(--text-dark);
}*/

.register-page {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFDFB;
    font-family: 'Inter', 'Segoe UI', sans-serif;
    color: var(--text-dark);
    padding: 80px;
    margin: -100px;
}

/* ---------- КАРТИЧКА ---------- */
.register-card {
    background-color: #F0EDE9;
    width: 440px;
    padding: 40px 50px;
    border-radius: 24px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    box-shadow: inset 3px 3px 6px rgba(0, 0, 0, 0.06), inset -3px -3px 6px rgba(255, 255, 255, 0.5);
}


/* ---------- ЗАГЛАВИЕ ---------- */
.register-card h3 {
    font-size: 32px;
    margin-bottom: 30px;
    color: rgba(69, 61, 68, 0.8);
    font-weight: 600;
}

/* ---------- ИНПУТ ---------- */
.register-form {
    text-align: left;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Ред за име + фамилия */
.name-row {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    width: 100%;
}

    .name-row .register-input {
        width: 100%;
        height: 40px;
        border-radius: 12px;
        background-color: #FFFDFB;
        color: rgba(69, 61, 68, 0.7);
        font-size: 1rem;
        padding-left: 12px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    }


.register-input {
    width: 400px;
    height: 40px;
    border-radius: 12px;
    background-color: #FFFDFB;
    color: rgba(69, 61, 68, 0.7);
    font-size: 1rem;
    padding-left: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

/* ---------- БУТОН ---------- */
.btn-register {
    width: 400px;
    height: 45px;
    background-color: #70646E;
    color: #FFFDFB;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-weight: 600;
    font-size: 1rem;
    margin-top: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

@media (max-width: 480px) {
    .register-card {
        width: 90%;
        padding: 30px 25px;
    }

    .register-input,
    .btn-register {
        width: 90%;
    }
}
