/* ---------- КАРТИЧКА ---------- */
.register-card {
    background-color: #F0EDE9;
    width: 440px;
    padding: 40px 50px;
    border-radius: 24px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    box-shadow: inset 3px 3px 6px rgba(0, 0, 0, 0.06), inset -3px -3px 6px rgba(255, 255, 255, 0.5);
}


/* ---------- ЗАГЛАВИЕ ---------- */
.register-card h3 {
    font-size: 32px;
    margin-bottom: 30px;
    color: rgba(69, 61, 68, 0.8);
    font-weight: 600;
}

/* ---------- ИНПУТ ---------- */
.register-form {
    text-align: left;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Ред за име + фамилия */
.name-row {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    width: 100%;
}

    .name-row .register-input {
        width: 100%;
        height: 40px;
        border-radius: 12px;
        background-color: #FFFDFB;
        color: rgba(69, 61, 68, 0.7);
        font-size: 1rem;
        padding-left: 12px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    }


.register-input {
    width: 400px;
    height: 40px;
    border-radius: 12px;
    background-color: #FFFDFB;
    color: rgba(69, 61, 68, 0.7);
    font-size: 1rem;
    padding-left: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

@media (max-width: 480px) {
    .register-card {
        width: 90%;
        padding: 30px 25px;
    }

    .register-input,
    .btn-register {
        width: 90%;
    }
}

/* ===========================================
   ТАБЛЕТИ (641px — 1024px)
   =========================================== */
@media (max-width: 1024px) and (min-width: 641px) {
    .register-page {
        margin-left: 0;
        padding: 0 24px;
    }

    .register-card {
        width: 360px;
        padding: 35px 40px;
    }

    .register-input,
    .btn-register {
        width: 100%;
    }

    .name-row {
        flex-direction: row;
        gap: 12px;
    }
}

/* ===========================================
   МАЛКИ ЕКРАНИ (≤ 640px)
   =========================================== */
@media (max-width: 640px) {

    .main-content {
        margin-left: 0;
    }

    .register-input,
    .btn-register {
        width: 100%;
    }

    .register-input {
        width: 400px;
    }

        .name-row {
        flex-direction: column;
        gap: 12px;
    }
}

/* ===========================================
   СУПЕР МАЛКИ ЕКРАНИ (≤ 375px)
   =========================================== */
@media (max-width: 375px) {

    .main-content {
        margin-left: 0;
    }

    .register-input,
    .btn-register {
        font-size: 0.95rem;
        height: 38px;
    }

    .btn-register {
        height: 42px;
    }
}
