.modal-request {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    z-index: 999;
}

.modal-content {
    background: #FFFDFB;
    padding: 20px;
    border-radius: 16px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.username-grade-modal {
    margin-top: 12px;
}

.modal-buttons-group {
    display: flex;
    flex-direction: row;
    flex: 1;
}