<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="BlazorApp6.styles.css" />
    <link rel="icon" type="image/png" href="EduSwapsFavIcon.png" />

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">


    <link href="css/site.css" rel="stylesheet" />
    <link href="css/components/filter-students18.css" rel="stylesheet" />
    <link href="css/components/my-profile12.css" rel="stylesheet" />
    <link href="css/components/request-swap-modal.css" rel="stylesheet" />
    <link href="css/components/chat19.css" rel="stylesheet" />
    <link href="css/components/site1.css" rel="stylesheet" />
    <link href="css/components/my-swaps9.css" rel="stylesheet" />
    <link href="css/components/register6.css" rel="stylesheet" />
    <link href="css/components/login6.css" rel="stylesheet" />
    <link href="css/components/guest-nav-menu4.css" rel="stylesheet" />
    <link href="css/components/loggedin-nav-menu16.css" rel="stylesheet" />
    <link href="css/components/home.css" rel="stylesheet" />
    <link href="css/components/Responsive.css" rel="stylesheet" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script>
        window.blazorScrollToBottom = (element) => {
            if(element) element.scrollTop = element.scrollHeight;
        };
    </script>

</body>

</html>
