<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    @* <link rel="stylesheet" href="bootstrap/bootstrap.min.css" /> *@
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="BlazorApp6.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

    <link href="css/site.css" rel="stylesheet" />
    <link href="css/components/chat.css" rel="stylesheet" />
    <link href="css/components/home.css" rel="stylesheet" />
    <link href="css/components/change_password.css" rel="stylesheet" />
    <link href="css/components/filter-students1.css" rel="stylesheet" />
    <link href="css/components/login.css" rel="stylesheet" />
    <link href="css/components/my-profile.css" rel="stylesheet" />
    <link href="css/components/other_profile.css" rel="stylesheet" />
    <link href="css/components/register1.css" rel="stylesheet" />
    <link href="css/components/show_my_swaps.css" rel="stylesheet" />
    <link href="css/components/modal_request_swap.css" rel="stylesheet" />
    <link href="css/components/guest-nav-menu.css" rel="stylesheet" />
    <link href="css/components/loggedin-nav-menu.css" rel="stylesheet" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
