<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    @* <link rel="stylesheet" href="bootstrap/bootstrap.min.css" /> *@
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="BlazorApp6.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">


    <link href="css/site.css" rel="stylesheet" />
    <link href="css/components/filter-students13.css" rel="stylesheet" />
    <link href="css/components/my-profile2.css" rel="stylesheet" />
    <link href="css/components/request-swap-modal.css" rel="stylesheet" />
    <link href="css/components/chat.css" rel="stylesheet" />
    <link href="css/components/site1.css" rel="stylesheet" />
    <link href="css/components/my-swaps2.css" rel="stylesheet" />
    <link href="css/components/register4.css" rel="stylesheet" />
    <link href="css/components/login5.css" rel="stylesheet" />
    <link href="css/components/guest-nav-menu3.css" rel="stylesheet" />
    <link href="css/components/loggedin-nav-menu5.css" rel="stylesheet" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
