@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>EduSwaps</h1>

<div class="mb-3">
    <button class="btn btn-primary" @onclick="GoToLogin">Вход</button>
</div>

<div class="mb-3">
    <button class="btn btn-secondary" @onclick="GoToRegister">Регистрация</button>
</div>

@code {
    public void GoToLogin()
    {
        Navigation.NavigateTo("/login");
    }
    public void GoToRegister()
    {
        Navigation.NavigateTo("/register");
    }
}