@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>EduSwaps</h1>

<button class="btn btn-primary" @onclick="GoToLogin">Вход</button>
<button class="btn btn-secondary" @onclick="GoToRegister">Регистрация</button>

<h4>Все студенты:</h4>
<ul>
    @foreach (var s in StudentManager.GetAllStudents())
    {
        <li>@s.Name @s.SecName - @s.Id</li>
    }
</ul>


@code {
    public void GoToLogin()
    {
        Navigation.NavigateTo("/login");
    }
    public void GoToRegister()
    {
        Navigation.NavigateTo("/register");
    }
}