@page "/swap/{swap.Id:guid}"

<h3>Swap</h3>

@* <div class="mt-auto d-flex gap-2">
    <button class="btn btn-outline-secondary flex-fill" @onclick="() => ViewProfile(student)">Виж профила</button>
    @if (swap.Status == SwapStatus.Confirmed)
    {
        <button class="btn btn-outline-danger flex-fill" @onclick="() => RequestCompletingSwap(swap)">Предложи завършването на свапа</button>
        <button class="btn btn-secondary flex-fill" @onclick="() => GoToChat(student)">Отвори чата</button>
    }
    else if (swap.Status == SwapStatus.PendingCompleted)
    {
        @if (isRequestedToCompleteByCurrentStudent)
        {
            <p>Очаква се потвърждение за завършване и от @student.FirstName</p>
            <button class="btn btn-secondary flex-fill" @onclick="() => GoToChat(student)">Отвори чата</button>
        }
        else
        {
            <p>@student.FirstName иска да завърши свапа</p>
            <button class="btn btn-outline-danger flex-fill" @onclick="() => CompleteSwap(swap)">Завърши свапа</button>
        }
    }
    else if (swap.Status == SwapStatus.CompletedNotRated)
    {
        @if (swap.Student1Id == currentStudent.Id)
        {
            <p>Свапът е завършен</p>
            <p>Оцени помощта на @student.FirstName:</p> *@
            @* Да добавя някаква логика за Rate student's help (звездички + коментар ддз)*@
@*         }
        else
        {
            <p>Свапът е завършен</p>
            <a class="btn btn-link" @onclick="() => GoToMyRatingPage()">Виж с колко звезди @student.FirstName е оценил/а помощта ти</a>
        }
    }
</div> *@

@code {

}
